db/*.sqlite3
db/*.sqlite3-*
dukafy/db/*.sqlite3
dukafy/db/*.sqlite3-*
published/
uploads/
public/admin/
dukafy/published/*
!dukafy/published/.keep
dukafy/uploads/*
!dukafy/uploads/.keep
dukafy/public/admin/*
!dukafy/public/admin/.keep
instatic/dist/
node_modules/
.env
